<div class="h-100 w-100 text-center py-5">
  <div>
    <h1 class="display-1 mb-4">Something Went Wrong</h1>
    <%= link_to "Back to Home Page", root_path, class: "btn btn-outline-light btn-sm" %>
  </div>
</div>